body {
    background-image: radial-gradient(#000000, #101010);
}
#code {
    font-size: 50px;
    text-align: center;
}
.index {
    display: none;
  }
  .hostRoom {
    display: none;
  }
  .joinForm {
    display: none;
  }
  .joinLabel {
    display: none;
  }
  .joinInput {
    display: none;
  }
  .joinSubmit {
    display: none;
  }