body {
  background-image: radial-gradient(#000000, #101010);
}
.index {
  position: absolute;
  top: 15%;
  left: 35%;
  width: 30%;
  height: 70%;
}
.joinForm {
  height: 100%;
  background-color: #FFFFFF;
}
.joinSubmit {
  font-size: 150%;
  border-radius: 30px;
  background-color: #151515;
  color: #FFFFFF;
  position: relative;
  width: 90%;
  height: 10%;
  bottom: 100%;
  left: 5%;
  border: none;
}
