body {
  background-image: radial-gradient(#000000, #101010);
}
.index {
  position: absolute;
  top: 15%;
  left: 35%;
  width: 30%;
  height: 70%;
  margin: auto;
  background-color: #FFFFFF;
}
.joinSubmit {
  border-radius: 20%;
  color: #FFFFFF;
  position: relative;
  bottom: 10%;
}
